input.hidden {
    position: absolute;
    left: -9999px;
}

.profile-image {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;
}

.title{ font-size:16px; font-weight:500;
}
.bot-border{
    border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0
}	

.zoom:hover {
    transform: scale(1.08); 
    cursor: pointer;
  }

@media (max-width: 767px) {
    .col-lg-3 {
        margin-top:20px;
    }
}